@import 'bourbon/bourbon';

//Colors
$primary-color: navy;
$accent-color: teal;

html {
  min-height: 100%;
  background: linear-gradient(top, #fff, $primary-color);
  background: -webkit-linear-gradient(top, $accent-color, $primary-color);
  background: -ms-linear-gradient(top, $accent-color, $primary-color);
  background: -moz-linear-gradient(top, $accent-color, $primary-color);
  background: -o-linear-gradient(top, $accent-color, $primary-color);
}

.content {
  margin: 100px auto;
  padding: 30px;
  width: 800px;
  border: 3px solid navy;
  border-radius: 10px;
  text-align: center;
  background: #fff;
}

.hidden {
   display: none;
}

.highlight {
  color: purple;
  text-shadow: 0 0 1px pink;
}

.page-text {
  text-align: left;
}

//Nav for fun
a, li {
  text-decoration: none;
}
.nav li {
  display: inline-block;
  width: 15%;
  height: 20px;
  line-height: 20px;
  //border-right: 1px solid teal;
}

.nav li:last-child {
  border-right: none;
}

.nav a {
  display: inline-block; //otherwise no width
  width: 100%;
  line-height: 20px;
  color: navy;
  text-align: center;
  border-right: 1px solid teal;
}

.nav a:hover,
a[id]:hover {
  color: $accent-color;
  text-shadow: 0 0 0.1px $accent-color;
}

h1 {
  color: $primary-color;
}

h2 {
  position: relative;
  color: black;
}

a[id] {
  position: absolute;
  left: 2px;
  font-size: 14px;
  color: $primary-color;
  outline: 0;
}

p, ol, ul {
  text-align: left;
}

.important {
  color: blue;
  font-weight: 700;
}

//simple tool for finding spots in doc
.spotter {
  position: absolute;
  width: 10px;
  height: 30px;
  //border-radius: 100%;
  background: red;
  z-index: 1000;
}


/*******************************************
  Hover effect for touch devices
*******************************************/
body:hover,
.hover_effect {

}

// to cancel the default asking to copy/save/paste
.hover {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*******************************************
  Styling
*******************************************/





